<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137653335477-jsf0bto3nml52rtomsqll9tegp35h80a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137653335477-jsf0bto3nml52rtomsqll9tegp35h80a</string>
	<key>API_KEY</key>
	<string>AIzaSyAuxZ2jZpovKXqWlJW1q3AoxO7PYthjXd0</string>
	<key>GCM_SENDER_ID</key>
	<string>137653335477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.md-ashfaqur-rahman.porate-chai</string>
	<key>PROJECT_ID</key>
	<string>porate-chai-4deee</string>
	<key>STORAGE_BUCKET</key>
	<string>porate-chai-4deee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137653335477:ios:5e4350b7d793777d3b15fc</string>
	<key>DATABASE_URL</key>
	<string>https://porate-chai-4deee.firebaseio.com</string>
</dict>
</plist>